.modal-body {
  padding: 0%;
}

#build-game-from {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 0%;
}

.bg-form label {
  text-align: end;
  font-family: Nunito;
  font-weight: bold;
}

.bg-form input {
  border-radius: 10px;
  border: none;
  height: 34px;
  width: fit-content;
  padding-left: 15px;
  font-family: Nunito;
  font-weight: bold;
}

.bg-form input:focus {
  outline: none;
  border-color: #4f005f;
}

.btnContainer {
  grid-column-start: 1;
  grid-column-end: 3;
}

.btnContainer .bg-createGameBtn {
  width: 50%;
  margin-left: 25%;
}
