.bg-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  padding-top: 0;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  gap: 1em;
}

.bg-form .row {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg-form .row.last {
  margin-top: 12px;
  justify-content: space-around;
}

.bg-form label {
  text-align: end;
  font-size: 16px;
  font-weight: bold;
}

.bg-form input {
  border-radius: 10px;
  border: none;
  font: inherit;
}

.bg-form input:focus {
  outline: none;
  border-color: #4f005f;
}

.btnContainer {
  grid-column-start: 1;
  grid-column-end: 3;
}

.btnContainer .bg-createGameBtn {
  width: 50%;
  margin-left: 25%;
}

.bg-form input[type="file"] {
  width: 220px;
  overflow-x: hidden;
  padding-top: 8px;
}

.checkbox-wrapper {
  width: 50%;
  max-height: 100px;
  overflow-y: hidden;
  transition: max-height 200ms ease-out;
}

.checkbox-wrapper.hide {
  max-height: 0;
  transition: max-height 100ms;
}

.checkbox-wrapper div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  max-height: 30px;
  overflow-y: hidden;
  transition: max-height 200ms ease-out;
}

.checkbox-wrapper div.hide {
  max-height: 0;
}

.checkbox-wrapper input[type="checkbox"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.15em;
  border: 0.15em solid #000;
  outline: none;
  cursor: pointer;
  margin-right: 0.25em;
}

input.checked {
  background-color: transparent;
  position: relative;
}

input.checked::before {
  content: "\2714";
  font-size: 1.5em;
  color: black;
  background: transparent;
  position: absolute;
  right: 1px;
  top: -5px;
}

input[name="game_item"] {
  appearance: none;
  padding: 0;
  margin: 0;
  height: 0;
}

.bg-itemtype-button {
  background-color: #163B6EBB;
  color: #FDF551CC;
  border-radius: 12px;
  width: 60px;
  height: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition: all 100ms
}

.bg-itemtype-button:hover {
  background-color: #163B6EDD;
  color: #FDF551;
}

.bg-itemtype-button.active {
  background-color: #FDF551;
  color: #163B6E;
  transition: all 100ms
}

.bg-itemtype-button label {
  font-weight: 400;
  margin: 0 auto;
}