.navbar {
    font-family: Nunito;
    font-weight: bold;
    color: #fff;
    display: grid;
    grid-template-columns: 3.5rem auto;
    grid-template-rows: 5rem 3.5rem auto;
    position: absolute;
    right: 0;
    top: 0;
    min-height: 100vh;
    width: 3.5rem;
    z-index: 100;
}
.option{
  display: inline-block;
  position: relative;
}
.option::after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.option:hover::after{
  width: 80%; 
  left: 10%; 
}

#options {
    background-color: #163B6E;
    grid-column: 2;
    grid-row: 1 / span 3;
    display: grid;
    grid-template-rows: 5rem 3.5rem 3.5rem auto 3.5rem 5rem;
}

#close-open {
    grid-column: 1;
    grid-row: 2;
    background-color: #163B6E;
    border-radius: 50% 0% 0% 50%;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 15% auto 15%;
}

#options div, #close-open {
    cursor: pointer;
}

.navbar img {
    filter: invert(100%);
    width: 2.2em;
    margin: auto 0% auto auto;
}

#close-arrow {
    transform: rotate(180deg);
    grid-column: 2;
    grid-row: 2;
}

#profile {
    grid-row: 2;
    display: none;
    grid-template-columns: 30% 70%;
    align-items: center;
    padding-left: 5%;
}
#settings {
    grid-row: 3;
    display: none;
    grid-template-columns: 30% 70%;
    align-items: center;
    padding-left: 5%;
}
#logout {
    grid-row: 5;
    display: none;
    grid-template-columns: 30% 70%;
    align-items: center;
    padding-left: 5%;
}
#options {
    display: none;
    box-shadow: -.8em 0em 7em rgb(0, 0, 0);
}

.navbar a {
    margin: auto auto auto 10%;
    color: white;
    text-decoration: none;
}
.navbar p {
    margin: auto auto auto 10%;
}

/* PROFILE MODAL ================================== */

.profile-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-top: 0;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    gap: 1em;
}

.profile-form .row {
    width: 90%;
    min-height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-form label {
    text-align: end;
    font-family: Nunito;
    font-size: 16px;
    font-weight: bold;
}

.profile-form form div {
    overflow-y: hidden;
}

.profile-form form div.hide {
    max-height: 0;
    min-height: 0;
    transition: max-height 100ms;
}

.profile-form input {
    border-radius: 10px;
    border: none;
    height: 34px;
    width: fit-content;
    padding-left: 15px;
    font-family: Nunito;
    font-weight: bold;
}

.profile-form input[type="text"] {
    margin-right: 1px;
}

.profile-form input[type="text"]:focus {
    outline: #163B6E solid 1px;
}

.profile-form #errorModal {
    display: none;
    color: red;
}

/* ANIMATIONS ======================================= */

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes rotationBackwards {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes closingColumns {
    from {
        width: 30vh;
    }
    to {
        width: 3.5rem;
    }
}

@keyframes openingColumns {
    from {
        width: 3.5rem;
    }
    to {
        width: 30vh;
    }
}
