.bgame-header {
    padding-top: 3%;
    padding-left: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bgame-header > button {
    height: 4em;
    background: transparent;
    border-radius: 5em;
    color: #163B6E;
}

.bgame-heading {
    color: black;
    margin: 0px;
    font-family: 'Nunito';
    font-size: 2em;
    font-weight: bold;
    padding: 1px 7px 1px 7px;
}

.bgame-toolbar {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
}

.bgame-tabletop {
    margin-top: 50px;
}

.bgame-tabletop > div {
    width: fit-content;
    margin: 0 auto;
}